.owl-carousel  .owl-nav .owl-prev:focus,
.owl-carousel  .owl-nav .owl-next:focus {
  outline:none;
}


.owl-carousel .owl-nav button.owl-next, 
.owl-carousel .owl-nav button.owl-prev, 
.owl-carousel button.owl-dot{
  outline: none;
}


/*common styling end*/

/*------/ Owl carousel /------*/
/* carousel_se_01 */
.carousel_se_01 .owl-theme .owl-dots {
  text-align: center;
  margin-top: 0px;
}

.carousel_se_01 .owl-theme .owl-dots .owl-dot {
  display: inline-block;
}

.carousel_se_01  .owl-theme .owl-dots .owl-dot span {
  width: 12px;
  height: 12px;
  margin: 5px 5px;
  background: #ff5e14;
  border: 0px solid #ff5e14;
  display: block;
  transition: all 0.6s ease-in-out;
  cursor: pointer;
  border-radius: 50%; 
}

.carousel_se_01  .owl-theme .owl-dots .owl-dot:hover span {
  color: #fff;
  background: #ff5e14;
/*  border: 5px double;*/
  padding:5px; 
  border-radius: 50%; 
}

.carousel_se_01  .owl-theme .owl-dots .owl-dot.active span {
  color: #fff;
  background: var(--light_orange);
  /* border: 5px double;*/
  opacity:0.8;
  padding:5px; 
  border-radius: 50%; 
  background:var(--light_orange);
 
}



.carousel_se_01  .owl-carousel .owl-nav button.owl-next {
    position: absolute;
    top: 42%;
    right: -40px;
     padding: 0px 15px 6px 15px !important;
    background: rgb(255, 255, 255);
    display: inline-block;
    transform: translateY(-50%);
    border-radius: 50%;
    font-size: 35px;
    line-height: 35px;
    color: #e0571d;
    box-shadow: 0 0 8px rgba(0,0,0,.25);
}
.carousel_se_01  .owl-carousel .owl-nav button.owl-next:hover {
    background:#ff5e14;
    color: #fff;
}
.carousel_se_01  .owl-carousel .owl-nav button.owl-prev {
   position: absolute;
    top: 42%;
    left: -40px;
    padding: 0px 15px 6px 15px !important;
    background: rgb(255, 255, 255);
    display: inline-block;
    transform: translateY(-50%);
    border-radius: 50%;
    font-size: 35px;
    line-height: 35px;
    color: #e0571d;
    box-shadow: 0 0 8px rgba(0,0,0,.25);
}
.carousel_se_01  .owl-carousel .owl-nav button.owl-prev:hover {
    background:#ff5e14;
    color: #fff;
}



.carousel_se_01 .owl-arrow .owl-nav {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.8rem;
}

.carousel_se_01 .owl-arrow .owl-nav .owl-prev,
.carousel_se_01 .owl-arrow .owl-nav .owl-next {
  display: inline-block;
  transition: all 0.6s ease-in-out;
  color: #000000;
}

.carousel_se_01 .main_services {
    position: relative;
    margin: 30px 0px 40px 0px;
    padding: 40px 15px 32px 15px;
    overflow: hidden;
    text-align: center;
     border: 1px solid transparent; 
    border-radius: 8px 8px;
    /* box-shadow: 12px 14px 0 #ececec; */
    box-shadow: 7px 7px 10px 0 rgba(76, 110, 245, .1);
    min-height: 348px;
}

.carousel_se_01 .main_services:hover {
     border: 1px solid #ededed ; 
    box-shadow:none;
}


/*// sec 01 end*/


/*carousel_se_02 start*/
.carousel_se_02{
    overflow: hidden;
}


.carousel_se_02 .product-grid3{
  border:none;
  box-shadow: none;
}

.carousel_se_02 .owl-theme .owl-dots {
  text-align: center;
  margin-top: 18px;
}

.carousel_se_02 .owl-theme .owl-dots .owl-dot {
  display: inline-block;
}

.carousel_se_02  .owl-theme .owl-dots .owl-dot span {
    width: 9px;
    height: 9px;
    margin: 4px;
    border: 2px solid #94a5b4;
    display: block;
    -webkit-backface-visibility: visible;
    -webkit-transition: opacity 200ms ease;
    -moz-transition: opacity 200ms ease;
    -ms-transition: opacity 200ms ease;
    -o-transition: opacity 200ms ease;
    transition: opacity 200ms ease;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.carousel_se_02  .owl-theme .owl-dots .owl-dot:hover span {
     border-color: #2bb0ef;
}

.carousel_se_02  .owl-theme .owl-dots .owl-dot.active span {
  border-color: #2bb0ef;
}

.carousel_se_02  .owl-carousel .owl-nav button.owl-next {
    position: absolute;
    top: 42%;
    right: -40px;
    padding: 0px 1px !important;
    background: rgb(255, 255, 255);
    display: inline-block;
    transform: translateY(-50%);
    border-radius: 5px;
    font-size: 32px;
    line-height: 32px;
    color: #2bb0ef;
    box-shadow: 0 0 8px rgba(0,0,0,.25);
}
.carousel_se_02  .owl-carousel .owl-nav button.owl-next:hover {
    background:#2bb0ef;
    color: #fff;
}
.carousel_se_02  .owl-carousel .owl-nav button.owl-prev {
   position: absolute;
    top: 42%;
    left: -40px;
    padding: 0px 1px !important;
    background: rgb(255, 255, 255);
    display: inline-block;
    transform: translateY(-50%);
   border-radius: 5px;
   font-size: 32px;
    line-height: 32px;
    color: #2bb0ef;
    box-shadow: 0 0 8px rgba(0,0,0,.25);
}
.carousel_se_02  .owl-carousel .owl-nav button.owl-prev:hover {
    background:#2bb0ef;
    color: #fff;
}
.carousel_se_02 .owl-arrow .owl-nav {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.8rem;
}

.carousel_se_02 .owl-arrow .owl-nav .owl-prev,
.carousel_se_02 .owl-arrow .owl-nav .owl-next {
  display: inline-block;
  transition: all 0.6s ease-in-out;
  color: #000000;
}
/* //carousel_se_02 end*/


/*carousel_se_02 start*/
.carousel_se_03{
    overflow: hidden;
}


.carousel_se_03 .product-grid3{
  border:none;
  box-shadow: none;
}


.carousel_se_03  .owl-carousel .owl-nav button.owl-next {
    position: absolute;
    top: 42%;
    right: -40px;
    padding: 0px 5px !important;
    background: rgb(255, 255, 255);
    display: inline-block;
    transform: translateY(-50%);
    border-radius: 5px;
    font-size: 32px;
    line-height: 32px;
    color: #a5ca34;
    box-shadow: 0 0 8px rgba(0,0,0,.25);
}
.carousel_se_03  .owl-carousel .owl-nav button.owl-next:hover {
    background:#a5ca34;
    color: #fff;
}
.carousel_se_03  .owl-carousel .owl-nav button.owl-prev {
   position: absolute;
    top: 42%;
    left: -40px;
    padding: 0px 5px !important;
    background: rgb(255, 255, 255);
    display: inline-block;
    transform: translateY(-50%);
   border-radius: 5px;
   font-size: 32px;
    line-height: 32px;
    color: #a5ca34;
    box-shadow: 0 0 8px rgba(0,0,0,.25);
}
.carousel_se_03  .owl-carousel .owl-nav button.owl-prev:hover {
    background:#a5ca34;
    color: #fff;
}
.carousel_se_03 .owl-arrow .owl-nav {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.8rem;
}

.carousel_se_03 .owl-arrow .owl-nav .owl-prev,
.carousel_se_03 .owl-arrow .owl-nav .owl-next {
  display: inline-block;
  transition: all 0.6s ease-in-out;
  color: #a5ca34;
}

.carousel_se_03 .round_icon_img i{
   font-size: 70px;
    color: #a5ca34;

}

.carousel_se_03 .btn-primary{
  background:#a5ca34; 
  border-color: #a5ca34;
}

.carousel_se_03 .btn-primary:hover, .carousel_se_03 .btn-primary:focus, .carousel_se_03 .btn-primary:active{
  background:#708e15; 
}
/* //carousel_se_02 end*/



/*media query start */

/*less than 575px*/
@media only screen and (max-width:380px)
{
 
}


/*less than 575px*/
@media only screen and (max-width:575px)  and (min-width: 380px)
{
  
}

/*less than 767px*/
@media only screen and (max-width:768px) and (min-width:575px)
{
 
}
/*less then 992px and less than 768*/
@media only screen and (max-width:993px) and (min-width:768px)
{
  

    
}

/*less then1140px and less than 993*/
@media only screen and (max-width:1140px) and (min-width: 993px)
{
  
}

@media only screen and (max-width:1366px) and (min-width: 1141px)
{
  
}


.zoomedIn{
  transform: scale(1.2)!important;
}
.zoomedOut{
  transform: scale(0.8)!important;
}
.owl-stage{
  padding:2rem 0rem;
}
.owl-item:not(.active){
  visibility: hidden;
}
/*end of media query
